<!--footer -->
<footer id="footer">
	<div class="footer">
        <div class="service-link">
            <div class="service-wrap">
                <div class="ser-cont">
                    <h3><a href="javascript:;">产品推荐</a></h3>
                    <ul>
                        <li><a href="#">360手机奇酷旗舰版</a></li>
                        <li><a href="#">360手机奇酷青春版</a></li>
                        <li><a href="#">360手机N4</a></li>
                        <li><a href="#">360手机f4</a></li>
                    </ul>
                </div>
                <div class="ser-cont">  
                    <h3><a href="javascript:;">服务支持</a></h3>
                    <ul>
                        <li><a href="#">寄修服务</a></li>
                        <li><a href="#">门店维修</a></li>
                        <li><a href="#">特色服务</a></li>
                    </ul>
                </div>
                <div class="ser-cont">
                    <h3><a href="javascript:;">媒介中心</a></h3>
                    <ul>
                        <li><a href="#">新闻动态</a></li>
                        <li><a href="#">官方视频</a></li>
                        <li><a href="#">图片资源</a></li>
                    </ul>
                </div>
                <div class="ser-cont">
                    <h3><a href="javascript:;">关于公司</a></h3>
                    <ul>
                        <li><a href="#">公司介绍</a></li>
                        <li><a href="#">加入我们</a></li>
                        <li><a href="#">联系我们</a></li>
                        <li><a href="#">法律声明</a></li>
                    </ul>
                </div>
            </div>
            <div class="contact">
                <p class="call"><a href="/service/contact"><span class="iconfont icon-call">&#xe60b;</span>在线咨询</a></p>
                <p class="icon"><span class="iconfont icon-wb">&#xe60f;</span><span class="iconfont icon-wx">&#xe60e;</span><span class="iconfont icon-tb">&#xe60d;</span><span class="iconfont icon-cloud">&#xe60c;</span></p>
            </div>
        </div>
        <div class="copyright">
            <p>京ICP证080047号 京ICP备08010314号-35  <a href="javascript:;" class="select-region">Select Region◢</a></p>
            <p>CopyRight &copy;2016  奇酷互联网络科技(深圳)有限公司 版权所有</p>
        </div>  
    </div>
</footer>
<!--/footer -->
<!-- select language -->
<div class="region-selection">
    <h3>Select Region</h3>
    <dl>
        <dd><a href="/">简体中文</a></dd>
        <dd><a href="/">English</a></dd>
        <dd><a href="/">繁体中文</a></dd>
        <dd><a href="/">Россия</a></dd>
        <dd><a href="/">India</a></dd>
    </dl>
    <a class="close-selection" href="javascript:;"><span></span></a>
</div>
<!-- /select language -->
<div id="mask" class="ui-overlay" style=""></div>