<!-- header -->
<div id="header">
  <!-- header_content -->
  <div class="header">
    <nav class="nav">
      <div class="logo">
        <a href="/"><img src="/static/img/base/logo.png"></a>
      </div>
      <ul>
        <li><a href="//www.360shouji.com/index.html">在线商城</a></li>
        <li><a href="/product/">360手机</a></li>
        <li><a href="/product/hardware/">智能硬件</a></li>
        <li><a href="/service/">服务</a></li>
        <li><a href="/360os/">360os</a></li>
        <li><a href="//bbs.360.cn/" target="_blank">论坛</a></li>
      </ul>
      <a class="nav-menu" href="#"><span><b></b></span></a>
    </nav>
  </div>
  <!-- /header_content  -->
</div>
<!-- / header -->