<!-- header -->
<header id="header">
  <!-- header_content -->
  <section class="header">
    <nav class="nav">
      <div class="logo">
        <a href="/"><img src="/static/img/base/logo.png"></a>
      </div>
      <ul>
        <li><a href="/shop/">在线商城</a></li>
        <li><a href="/phone/">手机</a></li>
        <li><a href="/hardware/">智能硬件</a></li>
        <li><a href="/service/">服务</a></li>
        <li><a href="/os/">360os</a></li>
        <li><a href="//bbs.360shouji.com/">论坛</a></li>
      </ul>
      <a class="nav-menu" href="#"><span><b></b></span></a>
    </nav>
  </section>
  <!-- /header_content  -->
</header>
<!-- / header -->