{% extends "../layout/layout.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/lib/swiper.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/index.css">
{% endblock %}

{% block container %}
<div class="container">
    <!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide swiper03">
                <div class="item-content">
                    <a class="item-background-link" href="/product/n4/">&nbsp;</a>
                    <div class="item-title">
                        <div class="title-inner">
                            <div class="title-adjust">
                                <!-- <h2 class="homepage-headline"><span>watchOS</span></h2>
                                <h3 class="homepage-subheadline">Feels like a whole new watch.</h3>-->
                                <ul class="links">
                                    <li class="homepage-link buy">
                                        <a href="/product/n4/" target="_blank">立即预约</a>
                                    </li>
                                    <li class="homepage-link more" >
                                        <a href="/product/n4/" target="_blank">了解详情</a>
                                    </li>
                                </ul> 
                            </div>
                        </div>
                    </div>
                    <div class="item-image">
                        <div class="item-image-inner">
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide swiper04">
                <div class="item-content">
                    <a class="item-background-link" href="/product/ultimate/">&nbsp;</a>
                    <div class="item-title">
                        <div class="title-inner">
                            <div class="title-adjust">
                                <!-- <h2 class="homepage-headline"><span>watchOS</span></h2> -->
                                <h3 class="product-price">1999<span>元起</span></h3>
                                <ul class="links">
                                    <li class="homepage-link buy">
                                        <a href="/product/ultimate/" target="_blank">立即预约</a>
                                    </li>
                                    <li class="homepage-link more" >
                                        <a href="/product/ultimate/" target="_blank">了解详情</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item-image">
                        <div class="item-image-inner">
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide swiper01">
                <div class="item-content">
                    <a class="item-background-link" href="/ios/ios10-preview/">&nbsp;</a>
                    <div class="item-title">
                        <div class="title-inner">
                            <div class="title-adjust">
                                <h2 class="homepage-headline"><span>iOS 10</span></h2>
                                <h3 class="homepage-subheadline">Big. Bold. Beautiful.</h3>
                                <ul class="links">
                                    <li class="homepage-link">
                                        <a href="/ios/ios10-preview/">See the preview<span class="icon icon-after icon-chevronright"></span></a>
                                    </li>
                                    <li class="homepage-link" >
                                        <a href="/apple-events/june-2016/">Watch the keynote<span class="icon icon-after icon-playcircle"></span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item-image">
                        <div class="item-image-inner">
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide swiper02">
                <div class="item-content">
                    <a class="item-background-link" href="/ios/ios10-preview/">&nbsp;</a>
                    <div class="item-title">
                        <div class="title-inner">
                            <div class="title-adjust">
                                <h2 class="homepage-headline"><span>watchOS</span></h2>
                                <h3 class="homepage-subheadline">Feels like a whole new watch.</h3>
                                <ul class="links">
                                    <li class="homepage-link">
                                        <a href="/ios/ios10-preview/">See the preview<span class="icon icon-after icon-chevronright"></span></a>
                                    </li>
                                    <li class="homepage-link" >
                                        <a href="/apple-events/june-2016/">Watch the keynote<span class="icon icon-after icon-playcircle"></span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item-image">
                        <div class="item-image-inner">
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
    <div class="promos-box">
        <ul>
            <li class="promos-col"><a target="_blank" class="promo-2016-launch" href=""><span>2016 360手机发布会</span></a></li>
            <li class="promos-col"><a target="_blank" class="promo-experience" href=""><span>全国线下体验巡回展</span></a></li>
            <li class="promos-col"><a target="_blank" class="promo-sz-experience" href=""><span>深圳线下体验会</span></a></li>
            <li class="promos-col"><a target="_blank" class="promo-huanxin" href=""><span>360手机以旧换新</span></a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="/static/js/lib/swiper.jquery.js"></script>
<!--[if IE 8]><script type="text/javascript" src="/static/js/lib/jquery.slider.js"></script><![endif]-->
<script type="text/javascript" src="/static/js/index.js"></script>
{% endblock %}
