{% extends "../layout/layout.html" %}


{% block css %}
    
{% endblock %}


{% block container %}
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>在线HTTP接口测试
                </div>
            </div>
            <div class="portlet-body">
                
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
{% endblock %}

{% block script %}
<script src="/static/admin/theme/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/static/admin/js/interface/index.js"></script>
{% endblock %}

