{% extends "../layout/layout.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/service/service.css">
{% endblock %}

{% block container %}

<!-- service content list-->
<div class="mb-line">
    <div class="container">
        <a href="/">首页</a>&gt;<a href="/service/">服务</a>&gt;<a href="/service/faq/" class="act">常见问题</a>
    </div>
</div>

<div class="container">
    <div class="faq-box">
        <div class="faq-title">
            <ul>
                <li><a href="/service/faq/?q=all" data-href="all">全部</a></li>
                <li><a href="/service/faq/?q=n4" data-href="n4">360手机N4</a></li>
                <li><a href="/service/faq/?q=f4" data-href="f4">360手机f4</a></li>
                <li><a href="/service/faq/?q=note3" data-href="note3">Note3</a></li>
                <li><a href="/service/faq/?q=youth" data-href="youth">青春版</a></li>
                <li><a href="/service/faq/?q=ultimate" data-href="ultimate">旗舰版</a></li>
                <li><a href="/service/faq/?q=jike" data-href="jike">极客版</a></li>
            </ul>
        </div>
        <div class="faq-content m-content" id="all">
            <div class="n4" id="n4">
                <dl>
                    <dt>N4支持按键背光灯吗？</dt>
                    <dd>亲，支持按键背光灯，非常感谢亲对360手机的支持！</dd>
                </dl>
                <dl>
                    <dt>N4是一体机吗？</dt>
                    <dd>亲，N4是一体机，后壳无法拆卸，非常感谢亲对360手机的支持！</dd>
                </dl>
                <dl>
                    <dt>N4是否支持双频WiFi？</dt>
                    <dd>亲，支持5GHz和2.4GHz双频wi-fi，非常感谢亲对360手机的支持！</dd>
                </dl>
                <dl>
                    <dt>N4支持关爱大字体模式吗？</dt>
                    <dd>亲，N4不支持大字体关爱模式、简易模式，非常感谢亲对360手机的支持！</dd>
                </dl>
                <dl>
                    <dt>N4移动版和全网通版支持移动4G+网络吗？</dt>
                    <dd>亲，N4移动版和全网通版支持移动4G+网络，非常感谢亲对360手机的支持！</dd>
                </dl>
                <dl>
                    <dt>N4有抗蓝光护眼功能吗？</dt>
                    <dd>亲，N4支持抗蓝光护眼功能，在设置-屏幕和亮度-屏幕效果-选择护眼模式即可，非常感谢亲对360手机的支持！</dd>
                </dl>
                <dl>
                    <dt>N4官网上介绍电池3080mAh(typ) / 3000mAh(min) 是什么意思呢？</dt>
                    <dd>亲，typ指典型容量、min指定额容量，典型容量就是电池一般实际容量 ，定额容量是电池出厂测试的容量</dd>
                </dl>
                <dl>
                    <dt>N4是否支持MHL？</dt>
                    <dd>亲，N4不支持MHL，非常感谢亲对360手机的支持！</dd>
                </dl>
                <dl>
                    <dt>N4支持盗抢险吗？</dt>
                    <dd>亲，N4不支持盗抢险的，非常感谢亲对360手机的支持！</dd>
                </dl>
                <dl>
                    <dt>N4是几点触控的呢？</dt>
                    <dd>亲，N4是10点触控，非常感谢亲对360手机的支持！</dd>
                </dl>
                <dl>
                    <dt>N4支持VOLTE吗？</dt>
                    <dd>亲，N4是支持VOLTE的，在拨号-右上角三个点-通话设置-VOLTE开关就是的哦，非常感谢亲对360手机的支持！</dd>
                </dl>
                <dl>
                    <dt>N4支持录屏吗？</dt>
                    <dd>亲，N4是支持录屏功能哦，同时按住音量上键+电源键，非常感谢亲对360手机的支持！</dd>
                </dl>
                <dl>
                    <dt>N4是否支持运营商视频通话？</dt>
                    <dd>亲，N4不支持运营商视频通话，非常感谢亲对360手机的支持！</dd>
                </dl>
                <dl>
                    <dt>N4支持按键背光灯能调颜色吗？</dt>
                    <dd>亲，不能的，非常感谢亲对360手机的支持！</dd>
                </dl>
                <dl>
                    <dt>N4纳米防水板是所有的N4都有的吗？</dt>
                    <dd>亲，N4只有防水版本才支持防水，非常感谢亲对360手机的支持！</dd>
                </dl>
                <dl>
                    <dt>N4的屏幕外玻璃是？</dt>
                    <dd>亲，是第三代康宁大猩猩玻璃，非常感谢亲对360手机的支持！</dd>
                </dl>
                <dl>
                    <dt>N4支持防抖吗？</dt>
                    <dd>亲，支持数码防抖，非常感谢亲对360手机的支持！</dd>
                </dl>
                <dl>
                    <dt>N4开机可使用的内存和运存是多少？</dt>
                    <dd>亲，N4开机可用的运存为2.5G左右，可用内存为25G左右，非常感谢亲对360手机的支持！</dd>
                </dl>
                <dl>
                    <dt>N4是否支持WiFi共享密码？</dt>
                    <dd>亲，支持的，长按WiFi可以生成二维码，扫二维码即可连接哦，非常感谢亲对360手机的支持！</dd>
                </dl>
                <dl>
                    <dt>N4标配充电器能选择充电模式吗？</dt>
                    <dd>亲，不支持的，用原装充电器既是快充哦，非常感谢亲对360手机的支持！</dd>
                </dl>
                <dl>
                    <dt>N4 OTG支持固态硬盘吗？</dt>
                    <dd>亲，不支持的驱动固态硬盘，非常感谢亲对360手机的支持！</dd>
                </dl>
                <dl>
                    <dt>N4使用原装充电器，但是充电线不是原装的，可以给手机闪充吗？</dt>
                    <dd>亲，使用原装充电器，只要线是9V2A的，就可以实现充电闪充哦，非常感谢亲对360手机的支持！</dd>
                </dl>
                <dl>
                    <dt>N4移动版的网络频段？</dt>
                    <dd>亲，N4移动版的网络频段：GSM B2/B3/B8，TD-SCDMA B34/B39， TDD-LTE B38/B39/B40/B41。非常感谢亲对360手机的支持！</dd>
                </dl>
                <dl>
                    <dt>N4最大支持OTG多少G容量？</dt>
                    <dd>亲，最大支持64GB哦，非常感谢亲对360手机的支持！</dd>
                </dl>
                <dl>
                    <dt>N4摄像头镜片什么材质的？</dt>
                    <dd>亲，N4摄像头外镜片的康宁大猩猩玻璃哦，非常感谢亲对360手机的支持！</dd>
                </dl>
                <dl>
                    <dt>N4陀螺仪是几轴的？</dt>
                    <dd>亲，9轴， 加速度3轴+陀螺仪3轴+地磁3轴 ，非常感谢亲对360手机的支持！</dd>
                </dl>
                <dl>
                    <dt>N4支持dts音效吗？ </dt>
                    <dd>亲，N4不支持dts音效的哦，非常感谢亲对360手机的支持！</dd>
                </dl>
                <dl>
                    <dt>N4是单声道还是双声道呢？</dt>
                    <dd>亲，N4是双声道，非常感谢亲对360手机的支持！</dd>
                </dl>
                <dl>
                    <dt>N4可以把应用移动到SD卡上吗？</dt>
                    <dd>亲，N4是无法将应用移到SD卡的哦，非常感谢亲对360手机的支持！</dd>
                </dl>
                <dl>
                    <dt>酷跑耳机支持hifi吗？</dt>
                    <dd>此款耳机使用CSR高端立体声蓝牙芯片，提供APT-X音频压缩算法，支持高解析力音质传输，可享受CD级音质，前提是您的手机支持APT-X。</dd>
                </dl>
                <dl>
                    <dt>N4全网通和N4移动版的区别</dt>
                    <dd>亲，N4全网通与N4移动版的区别：N4全网通支持 移动/联通/电信4G3G2G，N4移动版支持 移动4G3G2G/联通2G，其他配置参数是一样的哦，非常感谢亲对360手机的支持！</dd>
                </dl>
                <dl>
                    <dt>N4全网通的网络频段</dt>
                    <dd>亲，360手机N4全网通是真正的7模19频，支持GSM(Band 2/3/5/8)、TD-SCDMA(Band 34/39 )、TD-LTE(Band 38/39/40/41)、WCDMA(Band 1/2/5/8)、FDD-LTE(Band 1/3/7)以及CDMA1X、EVDO(Band BC0)
                其中，7模是指GSM、TD-SCDMA、TD-LTE、WCDMA、FDD-LTE、CDMA 1X、CDMA2000 EVDO，19频则是所有频段之和。这个组合可以满足国内的所有漫游需求和部分国际漫游需求。"</dd></dl>
                <dl>
                    <dt>N4能同时使用两张电信卡吗？</dt>
                    <dd>亲，N4同时只能使用一张电信卡哦，非常感谢亲对360手机的支持！</dd>
                </dl>
            </div>

            <div class="f4" id="f4">
                <dl>
                    <dt>f4一卡多号的副号拨打和拨出必须要加前缀12583吗？</dt>  
                    <dd>亲，加不加都可以正常使用的，非常感谢亲对360手机的支持！</dd>
                </dl>
                <dl>
                    <dt>f4移动版支持移动4G+网络吗？</dt>   
                    <dd>亲，不支持，非常感谢亲对360手机的支持！</dd>
                </dl>
                <dl>
                    <dt>f4最大支持多少G的拓展卡？</dt> 
                    <dd>亲，f4最大支持128G的拓展卡，非常感谢亲对360手机的支持！</dd>
                </dl>
                <dl>
                    <dt>f4的屏幕是什么材质？</dt>    
                    <dd>亲，屏幕材质是强化玻璃，非常感谢亲对360手机的支持！</dd>
                </dl>
                <dl>
                    <dt>f4是否支持VOLTE？</dt>   
                    <dd>亲，f4是支持VOLTE，非常感谢亲对360手机的支持！</dd>
                </dl>
                <dl>
                    <dt>f4的OTG能驱动移动硬盘吗？</dt>    
                    <dd>亲，f4可以支持USB OTG功能，一般地U盘、键盘、鼠标等设备都可以正常驱动，但由于机器本身电池容量等限制，其OTG无法驱动耗电量巨大的外设，比如移动硬盘等。非常感谢亲对360手机的支持！</dd>
                </dl>
                <dl>
                    <dt>f4手机拍照出现颠倒怎么办？</dt> 
                    <dd>亲，如手机拍照出现90度或者180度颠倒，请尝试以下步骤解决：在手机拨号盘输入*#9527*#，选择手动-Sensor校准-将手机水平放置，且确保屏幕的正上方无遮挡，点击重力传感器校准、距离感应校准，变绿色后点击左下方的通过，然后一直按返回键退回桌面即可。非常感谢亲对360手机的支持！</dd>
                </dl>
                <dl>
                    <dt>f4移动版为什么能显示联通4G？</dt>   
                    <dd>亲，此情况已经反馈给工程师做修改，会在下个版本更新中解决，给亲带来不便了，非常抱歉，目前建议您在手机设置-双卡和网络-点击您正在使用的手机卡-选择首选网络类型-2G，手动改为2G就可以正常使用了，感谢亲对360手机的理解与支持！</dd>
                </dl>
                <dl>
                    <dt>f4支持防抖吗？</dt>   
                    <dd>亲，f4不支持防抖的哦，非常感谢亲对360手机的支持！</dd>
                </dl>
                <dl>
                    <dt>f4移动版和移动定制版的区别？</dt>
                    <dd>亲，f4移动定制版区别在于：开机、包装盒、机身后盖会有移动运营商的LOGO，还会有些移动APK预置，如：和彩云、和阅读、和视频、和生活、和地图、和游戏等移动APK预置，非常感谢亲对360手机的支持！</dd>
                </dl>
                <dl>
                    <dt>f4移动定制版预置软件能卸载吗？</dt>   
                    <dd>亲，移动预置的软件是可以卸载的哦，非常感谢亲对360手机的支持！</dd>
                </dl>
                <dl>
                    <dt>f4目前支持VOLTE吗？</dt>
                    <dd>亲，f4目前版本035是支持VOLTE的，在设置-通话-增强型4GLTE模式就是的哦，非常感谢亲对360手机的支持！</dd>
                </dl>
                <dl>
                    <dt>f4熄屏就会断开WiFi怎么办？</dt>
                    <dd>亲，在手机桌面找到“设置”，进入“设置”——“WLAN”——点击右上角菜单按钮——选择“高级”。<br />
                    1、点击“WLAN频带”设置选项，选择仅使用2.4GHz频带；<br />
                    2、点击“WLAN优化”设置选项，将WLAN优化选项关闭。非常感谢亲对360手机的支持！</dd>
                </dl>
                <dl>
                    <dt>f4通讯频段？</dt>    
                    <dd>亲，f4具体频段信息：GSM B2/B3/B8，TD-SCDMA B34/B39， TDD-LTE B38/B39/B40/B41。非常感谢亲对360手机的支持！</dd>
                </dl>
                <dl>
                    <dt>f4连接蓝牙耳机，通话能录音吗？</dt>   
                    <dd>亲，f4在连接蓝牙耳机时是无法录音的哦，非常感谢亲对360手机的支持！</dd>
                </dl>
                <dl>
                    <dt>f4各个版本的区别？</dt>
                    <dd>1.亲，f4全网通与f4标配版的区别：f4全网通支持 移动/联通/电信4G3G2G，f4标配版版支持 移动4G3G2G/联通2G，f4全网通不支持5GWiFi，其他配置参数是一样的哦，非常感谢亲对360手机的支持！<br />
                    2.亲，f4高配版与f4标配版的区别：f4高配版的储存为3GB RAM+32GB ROM，f4标配版的储存为2GB RAM+16GB ROM，其他参数标配版和高配版是一样的哦，非常感谢亲对360手机的支持！</dd>
                </dl>
                <dl>
                    <dt>f4的指纹识别是电容式、压感式？</dt>   
                    <dd>亲，F4的指纹识别是电容式触摸传感器</dd>
                </dl>
            </div>

            <div class="note3" id="note3">
                <dl>
                    <dt>大神Note3高配版支持5GWiFi吗？</dt>   
                    <dd>亲，是不支持的，感谢您对360手机的支持，谢谢！</dd>
                </dl>
                <dl>
                    <dt>大神note3高配版支持VoLTE和载波聚合吗？</dt>   
                    <dd>亲，Note3高配版目前硬件上支持VoLTE，后期运营商全国推广VoLTE，我们的手机系统版本也会随之升级的。 Note3是不支持载波聚合技术的。感谢您对360手机的支持！</dd>
                </dl>
                <dl>
                    <dt>奇酷青春版、旗舰版、大神Note3支持DLNA功能吗？</dt>    
                    <dd>亲，奇酷青春版和旗舰版手机自带的视频软件是支持DLNA功能的，大神Note3是不支持的哦，感谢您对360手机的支持！</dd>
                </dl>
                <dl>
                    <dt>大神Note3高配版支持熄屏快拍吗？  </dt>
                    <dd>亲，目前是不支持熄屏快拍，建议关注后期版本更新，感谢您对360手机的支持！</dd>
                </dl>
                <dl>
                    <dt>大神Note3高配版支持cat4吗？</dt> 
                    <dd>亲，支持的，感谢您对360手机的支持！</dd>
                </dl>
                <dl>
                    <dt>大神note3高配版的照相支持对焦和测光分离吗？还有支持C键功能吗？</dt> 
                    <dd>亲，支持测光分离，但不支持C键，360 OS支持触摸按键自定义、桌面添加小工具中也支持一键锁屏等功能，也是比较易用的哦，感谢您对360手机的支持！</dd>
                </dl>
                <dl>
                    <dt>大神NOTE3支持HDMI和MHL吗？</dt>    
                    <dd>亲，都是不支持的哦，感谢您对360手机的支持！</dd>
                </dl>
            </div>

            <div class="youth" id="youth">
                <dl>
                    <dt>奇酷青春版外屏材质是什么？</dt>
                    <dd>亲，我们的外屏材质采用的是强化玻璃，感谢您对360手机的支持！</dd>
                </dl>
                <dl>
                    <dt>青春版支持cat6，cat9网络吗？</dt>
                    <dd>亲，青春版仅支持cat4，旗舰版支持cat6，感谢您对360手机的支持，谢谢！</dd>
                </dl>
                <dl>
                    <dt>青春版是否支持通话录音？录音时间为多长？</dt>
                    <dd>亲，此款商品支持通话录音的哦！录音时间是没有限制的，根据您的手机内存而定的哦！</dd>
                </dl>
                <dl>
                    <dt>青春版玩游戏的时候发热很厉害，请问这是正常的吗？</dt>
                    <dd>亲，非常抱歉给您带来不便，手机在玩游戏的时候CPU和GPU都处在高负载状态，这个时候会产生较大热量，温度会较明显升高。但手机是通过国家安规测试的，正常使用发热无安全风险，不用担忧。建议您玩游戏时候关闭一些后台进程，并且避免长时间插充电器玩游戏。若后续使用遇到问题，请您致电我们的奇酷技术热线400-888-1388反馈,感谢您对于奇酷产品的大力支持，祝您生活愉快</dd>
                </dl>
                <dl>
                    <dt>青春版充电发热非常厉害，这是正常的吗？</dt>
                    <dd>亲，非常抱歉给您带来不便，请问您使用的是否是奇酷标配的充电器？若不是建议您更换奇酷标配充电器尝试。另外充电器的温升约30℃，也就是说在室温条件下正常使用，充电器的温度不会超过55℃，在此温度条件下感觉发热属正常现象，若对温度较为敏感则感觉发烫。手机充电时发热，建议您在充电的时候避免长期使用手机。请您不要充电时将手机放在床上或保温性能好的环境中，充电的热量无法散开会导致温度增加。充电时手机要放在桌面等散热良好的地方。360手机为了提升您体验，使用较大容量的电池和较大输出能力的充电器。这样带来了更短的充电时间，但是也会带来一定程度的发热。所有的体验的提升都是建立在确保安全使用的基础之上，所以请您放心使用。如果你的手机充电时热感明显，建议您备份手机重要数据恢复出厂设置或者升级到最新的软件版本尝试。若后续使用遇到问题，请您致电我们的奇酷技术热线400-888-1388反馈,感谢您对于奇酷产品的大力支持，祝您生活愉快！</dd>
                </dl>
                <dl>
                    <dt>360手机青春版自拍照片是反的？</dt>
                    <dd>亲，奇酷青春版为了保持前置最初的镜像效果，默认成相是反的，若是您有需要，您可在相机—设置—关闭前置拍照镜像，关闭后成相就是正的。感谢您对360手机的支持！</dd>
                </dl>
                <dl>
                    <dt>青春版财产隔离系统保障是多久？</dt>
                    <dd>亲，是一年的，感谢您对360手机的支持！</dd>
                </dl>
                <dl>
                    <dt>青春版手机相机对焦的焦点是否可以自己选择？</dt>
                    <dd>亲，是支持手机手动对焦的，感谢您对360手机的支持！</dd>
                </dl>
                <dl>
                    <dt>我买的青春版手机为什么总是没有满格信号？</dt>
                    <dd>亲，信号栏信号强弱一般有四格显示，具体的信号强弱无法准确通过此判断。信号不好也和当前所处环境有很大关系哦~在信号覆盖率低、高楼大厦较多或者较为封闭的环境下，都可能出现信号不好的情况的。建议您换到开阔的地方重新观察一下。后续有什么问题可以及时联系客服为您处理！祝您生活愉快！</dd>
                </dl>
                <dl>
                    <dt>我买的青春版手机打电话在通话的时候感觉声音有点不清晰？请问这个是什么情况？之前我用别的手机都不会这样。</dt>
                    <dd>亲，手机通话质量的好坏，与您当时所处的环境信号强度、电话卡本身、通话对象及手机本身都有关系的。可以重新安装电话卡，然后重启手机，换不同的地方和通话对象及电话卡进行检测。如果是因为手机本身导致的问题，是可以换新的。为了提供更好的服务，在后续使用过程中遇到任何疑问都可以联系客服人员的哦，祝您生活愉快！</dd>
                </dl>
                <dl>
                    <dt>为什么青春版手机在我们这里会搜不到信号？而且信号有时时强时弱，这个到底是什么原因？</dt>
                    <dd>亲，很抱歉给您带来不便了。信号不好和当时的环境是有很大关系的，建议您看看目前你的位置是不是出于信号盲区，盲区包括网络覆盖区以外，如车间、工厂、郊区、农村等尚未建设网络通信设施的地方，还有城市信号受到屏蔽阻挡信号无法覆盖的地方，如写字楼、酒吧包间、电梯内、地下场所、建筑物内等地，您可以换一个空旷的地方观察看看；后续有什么问题，欢迎随时咨询我们在线客服哦，愿竭诚为您服务，祝您生活愉快！</dd>
                </dl>
                <dl>
                    <dt>青春版全网通、F2全网通、大神note 3全网通网络制式都是一样的吗？当我卡一插电信卡，卡二插移动卡，我要用卡二上网时，卡一是否会自动脱网呢？</dt>
                    <dd>亲，网络制式都是一样的，当卡一插电信卡，卡二使用移动或联通卡上网时，卡一网络不会受到影响，感谢您对360手机的支持！</dd>
                </dl>
                <dl>
                    <dt>青春版信号不满时，同卡同地小米满格，还有在房间的时候信号好差，有时候才1格信号，这个是为什么？</dt>
                    <dd>亲，因各厂商对于信号的定义不一样，显示也会有差异的，您反馈的只有1格信号情况下，请问能否正常通话呢/能否正常收发信息呢？因在房间内较为封闭的环境下，都可能出现信号不好的情况的，信号受到屏蔽阻挡信号无法覆盖的地方，如写字楼、酒吧包间、电梯内、地下场所、建筑物内等地，您可以换一个空旷的地方观察看看；后续有什么问题，欢迎随时咨询我们在线客服哦，感谢您对360手机的支持！</dd>
                </dl>
                <dl>
                    <dt>青春版手机可视角度是多少？对比度是1500:1吗？</dt>
                    <dd>亲，可视角度是170度，对比度是1500:1TYP，感谢您对360手机的支持！</dd>
                </dl>
                <dl>
                    <dt>青春版收音机插耳机后，可以线控调节频道吗？</dt>
                    <dd>亲，不可以的，只能调节音量大小。</dd>
                </dl>
            </div>

            <div class="ultimate" id="ultimate">
                <dl>
                    <dt>旗舰版和尊享版双摄像头，一个是彩色的，一个是黑白的，哪个是在上面哪个是下面？</dt> 
                    <dd>亲，我们旗舰版和尊享版摄像头的位置如下： 靠近顶部的那颗是彩色，靠近中间那颗是黑白的，彩色负责色彩着色，黑白负责进光和细节轮廓描绘；（彩色负责色彩着色，黑白负责细节，轮廓 和亮度，两颗都增加进光量）</dd>
                </dl>
                <dl>
                    <dt>奇酷旗舰版支持北斗定位，请问如何使用？</dt>    
                    <dd>亲，我们的手机支持北斗定位，但是没有单独的仅用北斗定位的设置，系统会把北斗，GPS和GLONASS等定位系统的卫星数据进行融合，会自动选择某个系统的卫星参与定位，可以加快定位速度以及精度。感谢您对360手机的支持！</dd>
                </dl>
                <dl>
                    <dt>旗舰版的快充技术是QC2.0吗？</dt>   
                    <dd>亲，是支持QC2.0的哦，感谢您对360手机的支持！</dd>
                </dl>
                <dl>
                    <dt>怎样设置紧急联系人？</dt>
                    <dd>亲，在通讯录里面找到个人中心-紧急联系人-添加紧急联系人</dd>
                </dl>
            </div>

            <div class="jike" id="jike">
                <dl>
                    <dt>旗舰极客版和旗舰版的不同？</dt>
                    <dd>亲，最大的不同点：1、屏幕升级为2K屏，2、内存升级为4GB+128GB</dd>
                </dl>
                <dl>
                    <dt>极客版新手机可用的内存有多少？</dt>    
                    <dd>亲，极客版手机可用内存在110GB左右，感谢您对360手机的支持！</dd>
                </dl>
            </div>
        </div>
    </div>
</div>

<!--/service content list -->
{% endblock %}

{% block script %}
<script type="text/javascript" src="/static/js/service/service.js"></script>
{% endblock %}
