{% extends "../layout/layout.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/service/service.css">
<style type="text/css">
    #maincontent{background:#fff;}
</style>
{% endblock %}



{% block container %}
<div class="mb-line" style="margin:0">
    <div class="container">
        <a href="/">首页</a>&gt;<a href="/service/">服务</a>&gt;<a href="/service/insurance/" class="act">随心保</a>
    </div>
</div>
<div class="insur-bar">
    <div class="container">
        <div class="product">
            <img src="/static/img/service/insurance/subphone.jpg">
            <p>注：该项服务需随手机一起购买</p>
        </div>
        <div class="subtitle">
            <div class="sxb_box">
                <div class="sub_title">
                    <h3>360手机随心保</h3>
                    <h2>手机损坏 想换就换 随心随你</h2>
                </div>
                <div class="sub_content">
                    <p><span>99元</span>360手机N4/360手机f4/大神note3/大神F2</p>
                    <p><span>14元</span>青春版/大神X7/大神1S</p>
                </div>
            </div>
            <div class="spb_box">
                <div class="sub_title">
                    <h3>360手机碎屏保</h3>
                    <h2>屏幕碎裂 直接换新屏</h2>
                </div>
                <div class="sub_content">
                    <p><span>49元</span>360手机f4</p>
                    <p><span>69元</span>360手机N4/大神note3/大神F2</p>
                    <p><span>89元</span>青春版/大神X7/大神1S</p>
                    <p><span>139元</span>旗舰版/极客版</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container insurance">
    <div class="tabhead">
        <ul>
            <li class="on"><a href="javascript:;">360手机随心保</a></li>
            <li><a href="javascript:;">360手机碎屏保</a></li>
            <li><a href="javascript:;">常见问题</a></li>
        </ul>
    </div>
    <div class="tabbody">
        <div class="tabitem sxb on">
            <div class="box">
                <div class="left">
                    <img src="/static/img/service/insurance/sxbtitle.jpg">
                </div>
                <div class="right">
                    <h2>360手机随心保</h2>
                    <h3>享受三包维修服务 随心置换</h3>
                    <h3>想换想修 随心随你</h3>
                    <p>在一年有效期内，手机正常使用过程中出现“三包”外损坏，如进水，碎屏等您可以选择置换服务或免费维修服务。</p>
                </div>
            </div>
            <hr/>
            <div class="box tips">
                <div class="tip">
                    <img src="/static/img/service/insurance/sxbtip.jpg" alt=""/>
                    <p><span>进水</span><span class="center">碎屏</span><span>跌落</span></p>
                </div>
                <h2>手机损坏无处不在
                <p>有您想不到，没有不发生！</p>
                </h2>
                <dl>
                    <dt>Ⅰ  置换服务：</dt>
                    <dd>购买手机时再支付<span>256</span>元，针对3<span>60手机f4 / 360手机N4 / 大神note3 / 大神F2</span>等机型， 置换手续费后可置换</dd>
                    <dd>购买手机时再支付<span>468</span>元，针对<span>青春版 / 大神X7 / 大神1S</span>等机型， 置换手续费后可置换同一型号手机一部。</dd>
                </dl>
                <dl>
                    <dt>Ⅱ  维修服务：</dt>
                    <dd>您可自行前往就近维修中心接受免费维修服务。 </dd>
                    <p>服务起止时间：自签收手机次日起生效，有效期为一年。</p>
                </dl>
            </div>
            <hr/>
            <div class="box tips">
                <h2>360手机随心保使用流程 
                <p>手机损坏 想换想修 随心随您</p>
                </h2>
                
                <p>您崭新的手机不小心损坏，请在<span>48小时</span>内拨打授权服务热线 <span>400-101-9758</span>，客服人员会为您核对注册基本 信息，待审核通过</p>
                <p>Ⅰ 如您选择 <span>置换服务</span>，即会安排给您递送同款手机，最快48小时即可送达。</p>
                <p>Ⅱ 如您选择 <span>维修服务</span>，您可自行前往就近维修中心接受免费维修服务。</p>
                <p>&nbsp;</p>
                <img src="/static/img/service/insurance/sxbflow.jpg" alt=""/>
                <p>&nbsp;</p>
                
                <p>温馨提示：</p>
                <h4>Ⅰ 如您选择置换服务 </h4>
                <ol>
                    <li>·请您交回损坏的手机</li>
                    <li>·获取置换手机前，请您按照用户协议提交相应的置换手续费</li>
                    <li>·接收手机时，请您准备好身份证复印件 </li>
                </ol>

                <h4>Ⅱ  如您选择维修服务 </h4>
                <ol>
                    <li>·按客服人员提示，前往就近维修中心，接受免费维修服务</li>
                    <li>·手机维修好后，前往维修中心取回手机 </li>
                    <li></li>
                </ol>
                <p class="notice">* 以上内容仅供参考，具体服务内容及双方权利义务以《随心保服务条款》为准，请仔细阅读。</p>
                <p>&nbsp;</p>
                <a href="/service/sxb_detail/">阅读完整条款</a>
            </div>
        </div>
        <div class="tabitem spb">
            <div class="box">
                <div class="left">
                    <img src="/static/img/service/insurance/spbtitle.jpg">
                </div>
                <div class="right">
                    <h2>360手机碎屏保</h2>
                    <h3>屏幕碎裂 免费换新屏</h3>
                    <h3>360手机碎屏保 免费为您换新屏</h3>
                    <p>在碎屏保服务生效期间内，针对保修手机在正常使用过程中的非人为故意原因导致的屏幕碎裂，我们提供一次换屏维修的服务。屏幕所使用的配件均采用符合厂家质量标准的部件。</p>
                </div>
            </div>
            <hr/>
            <div class="box tips">
                <h2>360手机碎屏保 为您直接换新屏</h2>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <img src="/static/img/service/insurance/spbtip.jpg" alt=""/>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
            </div>
            <hr/>
            <div class="box tips">
                <h2>360手机碎屏保使用流程</h2>
                <p>&nbsp;</p>
                
                <p>在360手机碎屏保服务生效期间，针对保修手机在正常使用过程中的非人为故障原因导致的屏幕碎裂（屏幕指手机上具有显示功能的配件，不包括玻璃后盖），我们提供一次换屏维修的服务。您应于屏幕碎裂发生后<span>48小时</span>内拨打<span> 400-101-9758 </span>（<span>7*14 08:00-22:00</span>）通知授权服务中心。在与您核实信息后，我们将根据故障发生地安排维修网点为您提供维修服务。</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <img src="/static/img/service/insurance/spbflow.jpg" alt=""/>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                
                <p>温馨提示：</p>
                <h4>Ⅰ 如您所处的地区有授权服务中心的维修网点，请您送至指定的维修网点，维修完成后从维修网点自行取回。 </h4>
                <p>&nbsp;</p>
                <h4>Ⅱ  如您所处的地区没有授权服务中心的维修网点，本着谁寄送谁付费的原则，快递或送修至其他的地区维修网点，并在维修完成后取件或由维修网点寄回给您。</h4>
                
                <p class="notice">* 以上内容仅供参考，具体服务内容及双方权利义务以《随心保服务条款》为准，请仔细阅读。</p>
                <p>&nbsp;</p>
                <a href="/service/spb_detail/">阅读完整条款</a>
            </div>
        </div>
        <div class="tabitem qa">
            <h1>360手机常见问题问答</h1>
            <dl>
                <dt>1.  什么是360手机随心保服务？</dt>
                <dd>答：360手机随心保服务是奇酷互联为360手机用户量身打造的一项手机售后升级服务。购买此项服务后，如您的登记手机发生(i)非人为故意造成的功能性损坏(如进水、跌落），而导致手机基本功能使用障碍；或(ii)制造商免费保修范围外的故障事件，而导致手机基本功能使用障碍。请于手机损坏后的48小时内拨打服务中心热线 <i class="yst-blue">400 101 9758</i> 提出服务申请，并选择是付费置换手机还是免费维修手机。如选择的置换申请审批通过后，只需支付少许置换手续费，您就可以迅速获得一台同款手机递送到您指定的地址。如选择的免费维修，则您可前往就近维修网点进行免费维修。</dd>
            </dl>
           
            <dl>
                <dt>2.我是否可以加入360手机随心保服务？</dt>
                <dd>答：只要您是在360手机商城（<a href="http://www.360shouji.com/" class="yst-blue">http://www.360shouji.com</a>）购买了360手机，即可在购机时勾选随心保，购买此项服务，随心保不支持单独购买。</dd>
            </dl>
            
            <dl>
                <dt>3.  哪里可以看到360手机随心保服务条款？</dt>
                <dd>答：<a target="_blank" href="sxb_detail.html" class="yst-blue">http://www.360shouji.com/yasheng/ystihuandetatil.html</a></dd>
            </dl>
            <dl>
                <dt>4.  360手机随心保服务何时生效？ </dt>
                <dd>答：自您签收手机的次日本服务开始生效 (具体生效日期以360手机商城系统订单中显示的日期为准 )。</dd>
            </dl>
            <dl><dt>5.  我一个手机是否可以加入两个360手机随心保服务？</dt> 
                <dd>答：不可以。一个手机同时只可以加入一个360手机随心保服务。</dd>
            </dl>
            <dl><dt>6.  我选择了付费置换后，还可以选择免费维修么？</dt>
                <dd>答：很抱歉，如您作出了选择支付置换手续费获得置换手机的决定并已适当告知授权服务中心，则您不能再选择免费维修服务。如您选择了免费维修服务，则您不能再选择付费置换服务。上述选择权只适用于您第一次申请服务时，服务类型一旦选定，则您不再享有选择权。</dd>
            </dl>
            <dl><dt>7.  是在购买时就选择付费置换还是免费维修么？</dt>
            <dd>答：不是的。您只要在手机发生问题后的48小时内向 <i class="yst-blue">4001019758</i>  授权服务中心热线第一次提出服务申请时作出选择即可。</dd>
            </dl>
            <dl><dt>8.  我的手机发生什么情况，才可以申请360手机随心保服务？ </dt>
            <dd>答：登记手机发生(i)非人为故意造成的功能性损坏(如进水、跌落),而导致手机基本功能使用故障； 或(ii)制造商免费保修范围外的故障事件，而导致手机基本功能使用故障，不包含国家“三包”中保修期内的损坏和故障，可以拨打服务热线，提出申请。</dd> 
            </dl>
            <dl><dt>9.  选择付费置换后，我可以申请几次置换呢？ </dt>
            <dd>答：在合同有效期内，如您选择了付费置换，则您可享有最多一次置换手机的机会。</dd>
            </dl>
            <dl><dt>10. 置换手续费是否会提供发票呢？ </dt>
            <dd>答：置换手续费的发票由360手机随心保服务合作商开具，您可以致电授权服务中心 <i class="yst-blue">4001019758</i> 索取发票。</dd> 
            </dl>
            <dl><dt>11. 我之前买过360手机置换保, 现在产品不在线上了，我应该怎么办？</dt> 
            <dd>答:如您购买过360手机置换保，您现在同样可以享受360手机随心保服务内容。360手机随心保是360手机置换保的升级服务。360手机随心保不但可以享受360手机置换保的付费置换服务，还多增加了选择免费维修服务的服务项目。待您手机出现损坏后，拨打授权服务中心热线提出申请即可。</dd>
            </dl>
             <dl>
                <dt>12.  什么是360手机碎屏保服务？</dt>
                <dd>答：针对保修手机在正常使用过程中的非人为故意原因导致的屏幕碎裂（屏幕指手机上具有显示功能的配件，不包括玻璃后盖），我们提供一次换屏维修的服务。屏幕维修所使用的配件均采用符合厂家质量标准的部件。</dd>
            </dl>
            <dl>
                <dt>13.我是否可以加入360手机碎屏保服务？</dt>
                <dd>答：只要您是在360手机商城（<a href="http://www.360shouji.com/" class="yst-blue">http://www.360shouji.com</a>）购买了360手机，即可在购机同时购买此项服务。</dd>
            </dl>
            <dl>
                <dt>14.为什么我购买不了360手机碎屏保服务</dt>
                <dd>
                答：确认购买地点：360手机商城<a href="http://www.360shouji.com/" class="yst-blue">http://www.360shouji.com；</a>
                <br/>
                确认购机价格：<i class="yst-blue">1-2999元</i>的360手机系列；<br/>
                确认是否为购机同时加入服务；<br/>
                确认是否购买了碎屏保</dd>
            </dl>
            <dl>
                <dt>15.360手机碎屏保和360手机随心保有什么区别？</dt>
                <dd>答：360手机碎屏保是保障手机屏幕意外的，而随心保可以保障除屏幕损坏的其他意外，如碎裂、浸水、故障等。</dd>
            </dl>
            <dl>
                <dt>16.哪里可以看到360手机碎屏保服务条款</dt>
                <dd>答： <a href="spb_detail.html" class="yst-blue" target="_blank">http://www.360shouji.com/yasheng/spb_detail.html。</a>
                </dd>
            </dl>
            <dl>
                <dt>17.  360手机碎屏保服务何时生效？ </dt>
                <dd>答：自您签收手机的次日本服务开始生效 (具体生效日期以360手机商城系统订单中显示的日期为准 )。</dd>
            </dl>
            <dl><dt>18.  我一个手机是否可以加入两个360手机碎屏保服务？</dt> 
                <dd>答：不可以。一个手机同时只可以加入一个360手机碎屏保服务。</dd>
            </dl>
         
             
            <dl><dt>19.  我的手机发生什么情况，才可以申请换屏维修？ </dt>
            <dd>答：登记手机在正常使用过程中发生非人为故意原因导致的屏幕碎裂即可以申请。但本服务不包括手机质量问题引起的花屏故障或黑屏，以及进液等情况。也不包括屏幕以外的部件功能故障及意外损坏和屏幕内外部磨损、划痕、受潮、冷凝、液体浸泡、火灾引起的部件损坏。</dd> 
            </dl>
            <dl><dt>20.  我可以申请几次屏幕维修？ </dt>
            <dd>答：在合同有效期内，则您可享有最多一次屏幕维修的机会。</dd>
            </dl>
            <dl><dt>21. 所换的屏幕都是新屏么？ </dt>
            <dd>答：是的，我们提供的都是符合原厂标准的新屏。</dd> 
            </dl>
            <dl><dt>22. 换过的屏幕的是售后服务是怎样的？</dt> 
            <dd>答:针对更换屏幕的功能故障提供30天质保；你可致电授权服务中心客服热线，经授权服务中心电话确认身份和故障信息后进行维修处理。</dd>
            </dl>
            <dl><dt>23. 授权服务中心热线服务时间是什么时候？ </dt>
            <dd>答：360手机随心保热线服务时间为<i class="yst-blue">7*14小时：8AM-10PM。</i> </dd>
            </dl> 
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="/static/js/service/service.js"></script>
<script type="text/javascript">
    (function($){
        $(function(){
            $('.tabhead li').on('click',function(){
                var index = $(this).index();
                show(index);
            });
            function show(index){
                $('.tabhead li').eq(index).addClass('on').siblings().removeClass('on');
                $('.tabbody .tabitem').eq(index).addClass('on').siblings().removeClass('on');
            }
            var type = QK.querystring('type')||null;
            if($('.tabbody').find('.'+type).length >0){
                 var i = $('.tabbody').find('.'+type).index();
                 show(i);
            }
        });
    })(jQuery||Zepto)
</script>
{% endblock %}
