{% extends "../layout/layout.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/service/service.css">
{% endblock %}

{% block container %}

<!-- service content list-->
<div class="mb-line">
    <div class="container">
        <a href="/">首页</a>&gt;<a href="/service/">服务</a>&gt;<a href="/service/salepolicy/" class="act">售后服务政策</a>
    </div>
</div>

<div class="container">
    <div class="commonbox">
        <div class="aside">
            <dl>
                <dt>手机售后政策</dt>
                <dd class="on"><a href="/service/salepolicy/?q=policy1" data-href="policy1">7天无理由退货</a></dd>
                <dd><a href="/service/salepolicy/?q=policy2" data-href="policy2">15日免费换货</a></dd>
                <dd><a href="/service/salepolicy/?q=policy3" data-href="policy3">一年免费保修</a></dd>
                <dd><a href="/service/salepolicy/?q=policy4" data-href="policy4">保外服务</a></dd>
                <dt>配件售后政策</dt>
                <dd><a href="/service/salepolicy/?q=policy5" data-href="policy5">电源类</a></dd>
                <dd><a href="/service/salepolicy/?q=policy6" data-href="policy6">耳机类</a></dd>
                <dd><a href="/service/salepolicy/?q=policy7" data-href="policy7">蓝牙音箱类</a></dd>
                <dd><a href="/service/salepolicy/?q=policy8" data-href="policy8">贴膜保护类</a></dd>
                <dd><a href="/service/salepolicy/?q=policy9" data-href="policy9">服饰文化类</a></dd>
            </dl>
        </div>
        <div class="m-content" style="min-height:500px;">
            <!-- 手机类 -->
           <div id="policy1">
                <h3>7天无理由退货</h3>
                <div class="content">
                     <p>1) 360手机商城销售的手机产品自收货之日起7日内（含），在商品完好的情况下，可申请七日无理由退货，七日无理由产生的运费需用户自行承担。</p>
                     <p>2) 自收货之日起7日内（含），手机主机出现国家规定的《移动电话机商品性能故障表》所列出的性能故障，并经360手机商城或官方授权服务点检测确定手机主机出现符合三包规定的性能故障，您可以选择维修、更换同型号同规格的手机主机或退货；如果您选择退货，请您及时登录360手机商城提交退货申请后，请携带主机及其全部配件到当地售后网点进行退货检测密封后寄回360手机商城地址。</p>
                     <p>3) 退货需保持商品包装、主机、配件及发票完好齐全。<br>注：退机申请提交后1日内携带与申请串号一致的故障机、相关配件、保修卡、发票、包装盒等，到360奇酷售后网点检测是否符合退货要求（外观良好、无人为损坏、无进液、包装无损坏），检测符合退机的，由网点开具《电商退机检测报告》，其中“用户存根联”交由您保管。网点将故障机、随机包裹联进行密封，经过360奇酷售后网点密封的机器，用户私自拆封则视为无效。</p>  
                     <p><br>360手机商城收货信息<br>收件公司：奇酷互联网络科技（深圳）有限公司<br>地址：广东省深圳市南山区西丽镇学苑大道1001号南山智园A2栋<br>联络人：翁兴         联系电话：0755-66618303</p>  
                </div>
           </div>
           <div id="policy2" style="display: none;">
                <h3>15日免费换货</h3>
                <div class="content">
                     <p>自收货之日起15日内（含），如果手机主机出现符合三包规定的性能故障，并经360手机商城或官方授权网点检测确定手机主机出现符合三包规定的性能故障，您可以选择修理或者免费更换同型号同规格的手机主机。换机申请提交后1日内携带与申请串号一致的故障机，到360奇酷售后网点检测故障是否存在，检测符合换机的，请将故障机留在网点办理换机。如果售后网点有备机，可现场给用户更换，如果网点无备机，则售后网点需要将您的故障机寄回厂家更换，新机到货后，售后网点通知用户取机。</p>
                     <h3>特别说明，以下情况不予办理退换货：</h3>
                     <p>1. 任何非360手机商城出售的商品（序列号不符）；</p>
                     <p>2. 过保商品（超过三包保修期的商品）；</p>
                     <p>3. 外包装破损、变形的；</p>
                     <p>4. 非原厂系统、系统被修改的，未经授权的维修、误用、碰撞、疏忽、滥用、进液（防水标变色的）、事故、改动、不正确的安装所造成的商品质量问题，或撕毁、涂改标贴、机器序号、防伪标记；</p>
                     <p>5. 无法提供商品的发票、保修卡等三包凭证或者三包凭证信息与商品不符及被涂改的；</p>
                     <p>6. 其他依法不应办理退换货的。</p>
                </div>
           </div>

           <div id="policy3" style="display: none;">
                <h3>一年免费保修</h3>
                <div class="content">
                     <p>1）自购买之日起后一年内（含），如果手机主机出现国家三包规定中所列非人为性能故障，并经360手机商城授权的维修服务网点检测确定，检测确认手机主机出现符合国家三包规定的非人为性能故障，您可以选择免费维修。</p>
                     <p>2）上述故障经两次维修，仍不能正常使用的，用户可凭三包凭证中修理者提供的修理记录，由销售商负责免费更换同型号同规格的手机主机。</p>
                </div>
           </div>

           <div id="policy4" style="display: none;">
                <h3>保外服务</h3>
                <div class="content">
                     <p>自您购机之日起，若属于下列原因中的任何一种而导致设备出现故障或损坏的，360手机商城有权根据国家"三包"有关规定，不按照"三包"承诺条款的内容提供服务，但您可以选择有偿服务:</p>
                     <p>1)整机及部件已经超过退换货或维修有效期的；</p>
                     <p>2)无"三包"凭证及有效发票，但能够证明该移动电话机商品在三包有效期内的除外；</p>
                     <p>3)"三包"凭证上的内容与商品实物标识不符或者涂改的；</p>
                     <p>4)未按产品使用说明书要求使用、维护、保养而造成损坏的；</p>
                     <p>5)私自拆动造成损坏，非经360手机商城认可方维修和改装的；</p>
                     <p>6)进液、受潮或发霉的；</p>
                     <p>7)因不可抗力造成损坏的；</p>
                     <p>8)除国家三包规定所列的设备主要部件之外，设备的辅助部件和其他部件出现故障的。</p>
                </div>
           </div>
           <!-- 配件类 -->
           <div id="policy5" style="display: none;">
                <h3>电源类</h3>
                <div class="content">
                     <p>1）自签收之日起，如配件齐全且无人为损坏，七天无理由退货，十五天换货，六个月内质保（质保范围：客户在正常使用条件下由于产品自身原因导致的无法充放电,鼓胀,漏液等不良情况给予质保处理）。</p>
                     <p>2）退换凭证：用户提供发票或三包凭证，以及发票底联或者发票（底联）复印件等有效证据。</p>
                     <p>3）质量问题的退换，用户可通过360手机售后网点进行检查换货，退货经授权网点确认后寄回检测，然后进入相关退款流程。</p>

                    <p>360手机商城销售的配件，如果出现质量问题需要更换时，无需登陆商城提交换货申请，您可以带上发票及相关销售凭证到您就近的360手机售后网点直接更换。</p>
                </div>
           </div>

           <div id="policy6" style="display: none;">
                <h3>耳机类</h3>
                <div class="content">
                     <h3>线控耳机</h3>
                     <p>1）自签收之日起，如配件齐全且无人为损坏，七天无理由退货，十五天换货，六个月内质保。</p>
                     <p>2）退换凭证：用户提供发票或三包凭证，以及发票底联或者发票（底联）复印件等有效证据。</p>
                     <p>3）质量问题的退换，用户可通过360手机售后网点进行检查换货，退货经授权网点确认后寄回检测，然后进入相关退款流程。</p>
                     <h3>蓝牙耳机</h3>
                     <p>1）自签收之日起，如配件齐全且无人为损坏，七天无理由退货，十五天换货，一年内质保。</p>
                     <p>2）退换凭证：用户提供发票或三包凭证，以及发票底联或者发票（底联）复印件等有效证据。</p>
                     <p>3）质量问题的退换，用户可通过360手机售后网点进行检查换货，退货经授权网点确认后寄回检测，然后进入相关退款流程。</p>
                </div>
           </div>

           <div id="policy7" style="display: none;">
                <h3>蓝牙音箱类</h3>
                <div class="content">
                     <h3>大神小钢炮蓝牙音箱</h3>
                     <p>1）自签收之日起，如配件齐全且无人为损坏，七天无理由退货，十五天换货，一年内质保。</p>
                     <p>2）退换凭证：用户提供发票或三包凭证，以及发票底联或者发票（底联）复印件等有效证据。</p>
                     <p>3）质量问题的退换，用户可通过360手机售后网点进行检查换货，退货经授权网点确认后寄回检测，然后进入相关退款流程。</p>
                </div>
           </div>

           <div id="policy8" style="display: none;">
                <h3>贴膜</h3>
                <div class="content">
                     <p>1）因贴膜属易耗品，在签收未拆封且无人为损坏的情况下，支持七天无理由退货。</p>
                     <p>2）退换凭证：用户提供发票或三包凭证，以及发票底联或者发票（底联）复印件等有效证据。</p>
                     <p>2)无"三包"凭证及有效发票，但能够证明该移动电话机商品在三包有效期内的除外；</p>
                     <p>3）质量问题的退换，用户在线咨询，上传凭证，经确认后寄回检测，然后进入相关流程。</p>
                </div>
           </div>

           <div id="policy9" style="display: none;">
                <h3>服饰类</h3>
                <div class="content">
                     <p>1）自签收之日起，在不影响二次销售的情况下(保证洗水标、吊牌完整，无穿着与水洗痕迹等)，支持七天无理由退货，十五天换货。</p>
                     <p>2）退换凭证：用户提供发货票、发货票底联或者发货票（底联）复印件等有效证据。</p>
                     <p>3）质量问题的退换，用户在线咨询，上传凭证，经确认后寄回检测，然后进入相关流程。</p>
                     <p>4）服装类为特殊商品，因码数大小产生的换货需用户自行承担往返运费</p>
                </div>
           </div>

     
        </div>
    </div>
</div>

<!--/service content list -->
{% endblock %}

{% block script %}
<script type="text/javascript" src="/static/js/service/service.js"></script>
{% endblock %}
