{% extends "../layout/layout.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/service/service.css">
<style type="text/css">#maincontent{background:#fff;}.mb-line{background:#fff;}</style>
{% endblock %}

{% block container %}
<!-- service breakcrub-->
<div class="mb-line">
    <div class="container">
        <a href="/">首页</a>&nbsp;&gt;&nbsp;<a href="/service/">服务</a>&nbsp;&gt;&nbsp;<a href="/service/insurance/">保险服务</a>&nbsp;&gt;&nbsp;<a href="/service/spb_detail/" class="act">碎屏保服务条款</a>
    </div>
</div>
<!-- service content list-->
<div class="container">
    <div class="yst-content">
        <h1>360手机碎屏保服务条款</h1>
        <div class="hghcont">
            <p>360手机碎屏保服务条款（以下简称“<em>服务条款</em>”或“<em>本协议</em>”）在您按照手机指导零售价购买手机时（促销价格除外）同时购买360手机碎屏保服务（以下简称“<em>碎屏保</em>”）后即构成您与奇酷互联网络科技（深圳）有限公司（以下简称“<em>奇酷互联</em>”）之间具有法律约束力的合同。<em>在购买本碎屏保之前，请仔细阅读下列服务条款，特别是加粗显示的条款，这些条款强调了在哪些情况下您不能获得服务以及服务提供方的责任限制。您的购买付费行为将被视为是对下列服务条款的完全知悉及接受。如果你对服务条款有任何疑问，请拨打服务电话：4001019758。</em></p>
            <p>本服务条款项下的服务由<em>奇酷互联</em>提供。<em>奇酷互联</em>授权亚胜（中国）通讯技术服务有限公司作为其授权服务中心（以下简称“<em>授权服务中心</em>”）提供服务运营支撑</p>
            <h3 class="title">一，服务内容</h3>
            <div class="noindent">
                <p>在碎屏保服务生效期间内，针对保修手机在正常使用过程中的非人为故意原因导致的屏幕碎裂(屏幕指手机上具有显示功能的配件，不包括玻璃后盖)，我们提供一次换屏维修的服务。屏幕维修所使用的配件均采用符合厂家质量标准的部件。</p>
                <p>手机屏幕以外的其他损坏，不属于本服务的范围，原则上我们不负责维修，如果您希望我们的授权维修中心负责维修，请与授权维修中心直接协商并支付相关费用，该等其他损坏的维修是您与授权维修中心直接的合同，我们不是合同一方也不承担任何责任。<em>当我们提供一次修屏或换屏服务后，则视为我们已经全部完成了本服务条款项下的所有义务。</em></p>
                <p>服务生效：自您签收手机的次日本服务开始生效（具体生效日期以360手机商城系统订单中显示的日期为准）。</p>
                <p>服务期限：在如下任一情况下，本协议自动终止：</p>
                <p class="none">1. 已达到本业务约定的自生效日期后12个月届满的有效期限的；</p>
                <p class="none">2. 用户已享受了一次手机置换/更换服务的；</p>
                <p>4. 发生任何用户的故意损坏或其他欺诈行为的。</p>
            </div>
            <h3 class="title">二， 服务履行</h3>
            <div class="noindent">
                <p>当服务事件发生且符合第二条先决条件时，您应于该服务事件发生后<em>四十八（48）小时内</em>拨打授权服务中心热线<em>4001019758</em> （7*14: 8：00am-10:00pm）通知授权服务中心。您提供给授权服务中心的信息应包括但不限于下列内容：姓名、登记手机号码、服务订单号、身份证号码、登记手机品牌、型号、IMEI/MEID等信息；同时，授权服务中心有权要求您进一步提供其它合理的信息。您同意将提供相关信息以用于授权服务中心向您提供服务。在与您核实信息后，我们将根据故障发生地安排维修网点为您提供维修服务。</p>
                <p>1. 如您所处的地区有授权服务中心的维修网点，请您按照授权服务中心的要求将保修手机以及购物小票或发票送至指定的维修网点，便于维修网点给您维修或更换，并负责在手机维修完成后从维修网点取回维修好的手机。</p>
                <p>2. 如您所处的地区没有授权服务中心的维修网点，本着谁寄送谁付费的原则，请您将故障手机以及购物小票或发票快递或送修至其他地区的维修网点，并在维修完成后取件或由维修网点寄回给您。
                </p>
            </div>
            <h3 class="title"><em>三， 保修政策</em></h3>
            <div class="noindent">
                <p>本服务仅保障除香港、澳门特别行政区及台湾以外的中国地区发生的服务事件。</p>
                <p><em>请将保修手机、购物发票或小票和保修卡等妥善保管；我们在提供保修服务时将有权要求您提供上述文件。如果您不能提供的，我们将保留拒绝服务的权利。</em></p>
                <p><em>我们对于待修手机内您或者其他任何人遗留的数据不承担责任，请于送修前妥善备份和清除数据。</em></p>
                <p><em>若您的手机仍在原厂标准保修期内，我们为您提供屏幕维修服务后，不承诺该机仍享受原厂标准保修服务。</em> </p>
                <p><em>
对于维修或更换过的新屏幕，我们提供30天的质量保证。30天质量保证期后，如更换过的屏幕出现花屏等问题，需要您自行联系授权维修网点进行付费维修。
</em>
                </p>
            </div>
            <h3 class="title"><em>四，    服务迟延</em></h3>
            <div class="noindent">
                <p><em> 我们将尽快完成维修服务，但对超出我们控制范围之因素所导致的服务迟延不负责任，前述因素包括但不限于厂家延迟、部件缺货、运输环节延迟或不可抗力</em></p>
            </div>
            <h3 class="title"><em>五，免责条款</em></h3>
            <div class="noindent">
                <p><em>1.本服务条款项下的服务不包含以下情况导致的维修或更换：</em></p>
                <p><em>2.手机除屏幕以外的其他零部件的功能故障和意外损坏，屏幕内外部磨损、划痕、受潮、冷凝、液体浸泡、进灰、火灾引起的部件损坏；</em></p>
                <p><em>3.因为电性能故障、进液等原因导致的黑屏、花屏、的故障；</em></p>
                <p><em>4.保修手机于用户订制本服务之前的既有故障，如亮点、坏点、黑屏、花屏和图像滞屏；</em></p>
                <p><em>5.保修手机MEID码被涂改或缺失；</em></p>
                <p><em>6.由地震、洪水、泥石流、火山、台风或沙尘暴等形成的不可抗力；</em></p>
                <p><em>7.火灾；</em></p>
                <p><em>8.手机病毒；</em></p>
                <p><em>9.软件或软件相关的故障；</em></p>
                <p><em>10.对手机购置后原装基础上添加的任何硬件、配件或耗材进行维修，包括但不限于储存数据、电池、充电器、耳机、SD卡；</em></p>
                <p><em>11.昆虫破坏、动物啃咬；</em></p>
                <p><em>12.意外损坏、人为故意破坏、因产品使用不当误用、滥用而导致的损坏；</em></p>
                <p><em>13.产品遗失、被盗；</em></p>
                <p><em>14.由非授权维修人员维修导致的损坏；</em></p>
                <p><em>15.因厂家召回导致的故障或部件和/或人工成本；在中华人民共和国（不包括港、澳、台）领域外所发生的故障；</em></p>
                <p><em>16.送修手机用于商业用途的（包括但不限于出租、用于零售以及经营性使用）；</em></p>
                <p><em>17.不影响功能的外观损坏；</em></p>
                <p><em>18.因手机故障而导致的任何信息或数据丢失；</em></p>
                <p><em>19.及因本业务或与本业务有关的任何间接损失或附带损失(包括但不限于无法使用、经营损失、利润损失、数据损失、故障时间损失及误工费)。</em></p>
            </div>
            <h3 class="title"><em>六， 责任限额</em></h3>
            <div class="noindent">
                <p><em>手机换屏的全部费用(包括屏幕零件成本和修理人工费用等)总额，在任何情况下都不得超过最高保障额度。本服务的最高保障额度为手机购买价格。</em></p>
            </div>
            <h3 class="title"> <em>七，   转让、取消及信息变更</em></h3>
            <div class="noindent">
                <p>1. 本服务不可从登记手机转让至其他手机。</p>
                <p>2. 如果客户在购买手机日起7日内办理手机的退货手续，可以同时取消本服务，所缴纳的服务费 全额退款。其它情况下服务均不得取消和退款。
                </p>
                <p>3. 在服务保障周期内，请在如下情况发生之日的15日内申请更换登记手机IMEI/MEID，并把换机 凭证或厂家授权售后服务网点的有效维修凭证通过电子邮件或传真的形式提交至授权服务中心：
                    <br/> • 因三包期内的换机；
                    <br/> • 因厂家授权维修中心三包保修而更换主板导致MEID/IMEI变更；
                    <br/> • 因厂家授权维修中心维修而更换主板导致MEID/IMEI变更；
                    <br/> 经授权服务中心审核后，您原有的保障期限及权利义务将自动延续至您的新登记手机。如您未 申请变更，则授权服务中心仅对原登记手机履行本服务条款项下的服务。
                </p>
            </div>
            <h3 class="title"><em>八，    定义</em></h3>
            <div class="noindent">
                <p>
                    <em>本服务条款项下的如下词汇具有本条所述的含义：</em>（1）“我们”或“我方”系指本服务条款项下服务的提供方，即奇酷互联；（2）“您”系指购买手机及就该手机购买本服务条款项下服务的顾客；（3）“保修手机”系指您从360手机商城购买的360手机；（4）“服务事件”系指保修手机在有效服务期限及保障地区内发生的非人为故意原因导致的屏幕碎裂；（5）“服务”系指奇酷互联就安排保修手机的屏幕维修或更换事宜所提供的本协议项下的服务。 </p>
            </div>
            <h3 class="title"><em>九，    数据使用和保护</em></h3>
            <div class="noindent">
                <p>
                    您理解并同意我方将使用第三方，包括但不限于授权服务中心、维修网点、关联公司、雇员、销售代表提供本条款项下的服务，包括处理您的认购、收取服务费用及核实您的用户身份等事宜。<em>您同意我方为向您提供本条款项下服务的目的(a)收集、使用并披露您的(i)姓名、护照号、身份证号、住址、联系电话和邮件地址；(ii)您的与我方服务相关的信息，包括呼叫、账单、您所处地理位置和维修物品的信息；(iii)您支付相关的信息，例如您的银行账户或信用卡信息;(iv)您在客户信息登记表或我方客户反馈调查表中提供的信息；和(b)为我方履行服务、处理账单、防止欺诈和风险管理以及符合法律要求的目的由我方储存这些信息。</em>对于每次您使用我方的服务和我方提供服务给您，您特此做出如上理解、知悉和同意。我方特此通知您，我方或第三方将使用您信息获取/抽取其他与我方服务相关的信息，但该等信息是集合的且不可辨识个人身份的信息，包括但不限于消费行为、产品相关的和服务请求的信息，且该等信息仅为了审阅、开发或改善我方服务的目的而抽取。 </p>
            </div>
            <h3 class="title"><em>十，    解释权、适用法律和争议解决</em></h3>
            <div class="noindent">
                <p>
                    本协议适用中华人民共和国法律（香港、澳门、台湾法律除外）。有关本协议及服务的任何争 议将提交有管辖权的法院管辖。
                </p>
            </div>
        </div>
    </div>
</div>
<!--/service content list -->
{% endblock %}

{% block script %}
<script type="text/javascript" src="/static/js/service/service.js"></script>
{% endblock %}
