{% extends "../layout/layout.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/service/service.css">
<style type="text/css">#maincontent{background:#fff;}.mb-line{background:#fff;}</style>
{% endblock %}

{% block container %}
<!-- service breakcrub-->
<div class="mb-line">
    <div class="container">
        <a href="/">首页</a>&nbsp;&gt;&nbsp;<a href="/service/">服务</a>&nbsp;&gt;&nbsp;<a href="/service/insurance/">保险服务</a>&nbsp;&gt;&nbsp;<a href="/service/sxb_detail/" class="act">随心保服务条款</a>
    </div>
</div>
<!-- service content list-->
<div class="container">
    <div class="sxb-content">
        <h1>360手机随心保服务条款</h1>
        <div class="hghcont">
            <p>360手机随心保服务条款（以下简称“<em>服务条款</em>”或“<em>本协议</em>”）在您购买手机时同时购买360手机随心保服务（以下简称“<em>随心保</em>”）后即构成您与奇酷互联网络科技（深圳）有限公司（以下简称“<em>奇酷互联</em>”）之间具有法律约束力的合同。<em>在购买本随心保之前，请仔细阅读下列服务条款，特别是加粗显示的条款，这些条款强调了在哪些情况下您不能获得服务以及服务提供方的责任限制。您的购买付费行为将被视为是对下列服务条款的完全知悉及接受。如果你对服务条款有任何疑问，请拨打服务电话：4001019758。</em></p>
            <p>本服务条款项下的服务由奇酷互联提供。奇酷互联授权亚胜（中国）通讯技术服务有限公司作为其授权服务中心（以下简称“<em>授权服务中心</em>”）提供服务运营支撑。</p>
            <h3 class="title">一，服务内容和范围</h3>
            <div class="noindent">
                <p>在合同有效期内，您在360手机商城购置的1~1998元之间的360手机全新手机（以下简称：登记手机）发生(i)非人为故意造成的功能性损坏，而导致手机基本使用功能障碍； 或(ii)制造商免费保修范围外的故障事件，而导致手机基本使用功能障碍的服务事件，则您有权依服务约定选择支付置换手续费置换一部置换手机或者选择免费进行维修服务。</p>
                <p>服务生效：自您签收手机的次日本服务开始生效（具体生效日期以360手机商城系统订单中显示的日期为准）。</p>
                <p>服务期限：在如下任一情况下，本协议自动终止：</p>
                <p class="none">1. 已达到本业务约定的自生效日期后12个月届满的有效期限的；</p>
                <p class="none">2. 用户已享受了一次手机置换/更换服务的；</p>
                <p class="none">3. 累计维修成本已超过手机购买价格的；或</p>
                <p>4. 发生任何用户的故意损坏或其他欺诈行为的。</p>
            </div>
            <h3 class="title">二，    服务申请</h3>
            <div class="noindent">
                <p>1. 您应于该服务事件发生后四十八<em>（48）</em>小时内电话通知授权服务中心<em> 4001019758 （7*14: 8：00am-10:00pm）</em></p>
                <p>2.<em>   您承诺并保证提供真实、准确且完整的关于您的注册信息，</em>包括下列内容：姓名、登记手机号 码、身份证号码、360手机商城购机订单号、登记手机型号、颜色、MEID／IMEI。同时，授权服 务中心有权要求您进一步提供其它合理的信息。
                </p>
                <p>3. <em>您提出的服务请求不得存在虚假、欺诈、瞒报、谎报服务事件的情形。</br>您应在服务申请时准确说明服务事件的发生日期、时间、地点及原因，如因您无法提供服务事件的准确信息而导致服 务申请被拒绝，我们不承担任何责任。
                    </em>
                </p>
                <p>4. <em>如您作出了选择支付置换手续费获得置换手机的决定并已适当告知授权服务中心，则您不能再选择免费维修服务。如您选择了免费维修服务，则您不能再选择付费置换服务。上述选择权只适用于您第一次申请服务时，服务类型一旦选定，则您不再享有选择权。</em></p>
                <p>5. 您理解并同意我方将使用第三方，包括但不限于授权服务中心、关联公司、雇员、销售代表提 供本协议项下的服务，包括处理您的认购、收取服务费用及核实您的用户身份等事宜。
                    <em>您同意我方为向您提供本协议项下服务的目的(a)收集、使用并披露您的(i)姓名、护照号、身份证号、住址、联系电话和邮件地址；(ii)您的与我方服务相关的信息，包括呼叫、账单、您所处地理位置等信息；(iii)您支付相关的信息，例如您的银行账户或信用卡信息;(iv)您在客户信息登记表或我方客户反馈调查表中提供的信息；和(b)为我方履行服务、处理账单、防止欺诈和风险管理以及符合法律要求的目的由我方储存这些信息。</em>我方特此通知您，我方或第三方将使用您信息获 取/抽取其他与我方服务相关的信息，但该等信息是集合的且不可辨识个人身份的信息且该等信 息仅为了审阅、开发或改善我方服务的目的而抽取。
                </p>
            </div>
            <h3 class="title">三，    服务履行</h3>
            <h3 class="title">如您选择支付置换手续费获得置换手机，则</h3>
            <div class="noindent">
                <p>1. 请您于服务申请的十五（15）日内将全部材料提交至授权服务中心，包括但不限于：您有效身 份证件复印件、购机发票或保修卡复印件，以及损坏的登记手机。您返回的损坏登记手机需完 整且零部件齐全（包括MEID/IMEI相关部件及信息），且与您提供的故障描述相符。
                </p>
                <p>2. 授权服务中心在您提供完备的资料后，会在二（2）个工作日内通知您是否批准服务申请。如 因您提交的资料而导致服务周期的延长，我们不承担任何责任。如申请获得批准，授权服务中 心将在四十八（48）小时内通过快递的方式将置换手机寄出。置换手机原则同条款四。
                </p>
                <p>3. 置换手机会于四十八（48）- 七十二 (72)小时标准递送时效内快递至您指定的寄送地址（如遇 不可抗力或偏远地区，以递送公司信息为准；确因递送公司无法到达的部分偏远区域，授权服 务中心将与您协商解决收货方式），保障和递送地区：除香港、澳门特别行政区及台湾以外的 中国地区。
                </p>
                <p>4. <em>您在获取置换手机时，须本人向授权服务中心指定的快递服务人员出示有效身份证件原件，并一次性缴纳置换手续费。置换手续费详细费率请点击<a href="http://www.360shouji.com/yasheng/ystihuan.html">http://www.360shouji.com/yasheng/ystihuan.html</a>，按照你的机型查询。</em></p>
                <p>5. <em>您在合同有效期内享有且仅享有一(1) 次手机置换的权利。</em></p>
            </div>
            <h3 class="title">如您选择免费维修，则</h3>
            <div class="noindent">
                <p>1. 在有授权维修网络的地区，请您按照授权服务中心的要求将损坏的登记手机以及购机发票送至 指定的授权维修中心，便于服务提供商维修，并负责在手机维修完成后从维修中心取回维修好 的手机。
                </p>
                <p>2. 在没有授权维修网络覆盖的地区，本着“谁寄谁付费”的原则,您可将损坏的登记手机快递或送 修至其他地区的授权维修中心，并在维修完成后取件或由授权维修中心寄回给您。
                </p>
                <p>3. 维修所使用的配件采用符合厂家质量标准的部件。</p>
                <p>4. 送修的手机IMEI/MEID需与登记手机的IMEI/MEID相符，并可识别。</p>
                <p>5. 如果授权服务中心认定您的手机无法维修、维修不经济等原因，则授权服务中心有权自行决定 是否不再维修而免费为您更换一款与登记手机同款或类似的手机。手机置换原则同下述条款四 您需先将购机发票以传真或email形式发送到授权服务中心审核，待审核完成后，您需将故障 手机(不包含配件)，原购机发票以及历次维修单据寄到授权服务中心，授权服务中心才为您 提供更换手机。
                </p>
                <p>6. 购机发票，收到的所有维修记录，或手机更换服务的签收单作为手机服务发生的证明，您需妥 善保留。
                </p>
                <p>7. 您须于我方维修前自行备份产品内的软件和数据；我方对于待修产品内用户遗留的物品不承担 责任。
                </p>
            </div>
            <h3 class="title">四，    手机置换原则</h3>
            <div class="noindent">
                <p>1. <em>置换手机首选是与登记手机同款的手机。如果登记手机的型号在申请本置换服务时已无库存或下市，则您只能在授权服务中心推荐的最多三款与原手机型号功能、外观相近的手机中选择一部作为置换手机，而不得要求其他品牌和型号的手机。置换手机是随机分配的全新或是维修或重新装配后符合原厂标准的手机。如果置换手机与原登记手机为同一型号，授权服务中心有权仅提供手机主体而不提供标准电池和其他配件（内嵌电池手机除外）。</em></p>
                <p>2. 如您返还给授权服务中心的损坏手机非登记手机，授权服务中心有权拒绝您的服务申请并保留 进一步追查和追究您相应法律责任的权利。
                </p>
            </div>
            <h3 class="title">五，免责条款</h3>
            <div class="noindent">
                <em>下列状况不在本协议的保障范围之内：<br/>
                1.  应由厂家标准保修涵盖的故障；<br/>
                2.  非手机的基本功能所需的数据、程序、软件的丢失和损坏等；<br/>
                3.  产品的附加配件的故障，诸如电池、耳机、存储卡、包以及充电器等；<br/>
                4.  任何不影响手机正常通讯及登记手机制造商预定用途的表面毁坏，包括但不限于刮花、翘曲、
                颜色改变、褪色或登记手机外装饰的其它改变；<br/>
                5.  任何直接或间接由任何下列原因导致的登记手机的损坏：(i)不可抗力或主观故意人为毁损；(ii) 
                自然磨损、老化、潜在设计缺陷（包括厂家确认的任何设计缺陷）、登记手机的程序设计不兼
                容； (iii) 服务生效日前登记手机已存在的任何故障或损坏状况；<br/>
                6.  因任何未经登记手机制造商授权的硬件或软件的改装、改动或修理对登记手机带来的任何损坏；<br/>
                7.  因手机损坏导致的任何间接损失或附带损失（包括但不限于业务损失、利润损失、数据丢失及
                误工费等）；<br/>
                8.  登记手机的过时或跌价；<br/>
                9.  盗窃、抢劫、遗忘、失踪或丢弃；<br/>
                10. 任何原因导致的登记手机的MEID／IMEI无法辨识。
                </em>
            </div>
            <h3 class="title">六，    转让、取消及信息变更</h3>
            <div class="noindent">
                <p>1. 本服务不可从登记手机转让至其他手机。</p>
                <p>2. 如果客户在购买手机日起7日内办理手机的退货手续，可以同时取消本服务，所缴纳的服务费 全额退款。其它情况下服务均不得取消和退款。
                </p>
                <p>3. 在服务保障周期内，请在如下情况发生之日的15日内申请更换登记手机IMEI/MEID，并把换机 凭证或厂家授权售后服务网点的有效维修凭证通过电子邮件或传真的形式提交至授权服务中心：
                    <br/> • 因三包期内的换机；
                    <br/> • 因厂家授权维修中心三包保修而更换主板导致MEID/IMEI变更；
                    <br/> • 因厂家授权维修中心维修而更换主板导致MEID/IMEI变更；
                    <br/> 经授权服务中心审核后，您原有的保障期限及权利义务将自动延续至您的新登记手机。如您未 申请变更，则授权服务中心仅对原登记手机履行本服务条款项下的服务。
                </p>
            </div>
            <h3 class="title">七，    定义</h3>
            <div class="noindent">
                <p>
                    （1）“我们”或“我方”系指本服务条款项下服务的提供方，即<em>奇酷互联</em>；</p>
                <p>（2）“您”系指购买手机及就该手机购买本服务条款项下服务的顾客； </p>
            </div>
            <h3 class="title">八，    解释权、适用法律和争议解决</h3>
            <div class="noindent">
                <p>
                    本协议适用中华人民共和国法律（香港、澳门、台湾法律除外）。有关本协议及服务的任何争 议将提交有管辖权的法院管辖。
                </p>
            </div>
        </div>
    </div>
</div>
<!--/service content list -->
{% endblock %}

{% block script %}
<script type="text/javascript" src="/static/js/service/service.js"></script>
{% endblock %}
